:root {
    --font-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

input, select {
    border: 1px var(--font-color) solid;
    padding: 0.25rem;
}
#input_data {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.input_field, #input_button {
    padding-top: 0.5rem;
}
#search_box {
    position: absolute;
    width: 47%;
    left: 6.4rem;
    list-style-type: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 5% 5%;
    overflow-y: scroll;
    max-height: 10rem;
}
#search_box > li {
    color: var(--font-color);
    padding: 0.6rem;
    cursor: pointer;
}
#search_box > li:hover {
    border-bottom: 1.75px var(--font-color) solid;
}
.btn {
    padding: 0.5rem;
    border-radius: 10%;
    color: white;
    background-color: black;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(174, 173, 173);
    color: var(--font-color);
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(174, 173, 173);
    color: var(--font-color);
    height: 3rem;
    width: 8rem;
    font-size: 0.9rem;
    margin: 0.2rem 0.2rem 0.2rem 0;
    white-space: pre-line;
}
#show_schedule {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 874px) {
    #input_data {
        font-size: 0.8rem;
    }
    #time {
        display: flex;
        flex-direction: column;
    }
    #show_schedule {
        padding-top: 15rem;
    }
    .row {
        width: 6rem;
    }
    #search_box {
        width: 67%;
        left: 5.1rem;
    }
}
@media screen and (max-width: 710px) {
    .row {
        width: 3rem;
        font-size: 0.7rem;
    }
    #show_schedule {
        padding-top: 16.5rem;
    }
}
@media screen and (max-width: 511px) {
    #search_box {
        width: 10.5rem;
        left: 0;
    }
}